<template>
  <div class="timezone-timeline-block" :class="workhours" />
</template>
<script>
import moment from "moment-timezone";

export default {
  name: "TimeZoneBlock",
  props: {
    timestamp: {},
    timezoneName: {}
  },
  computed: {
    workhours() {
      const time = moment.tz(this.timestamp, this.timezoneName);

      const day = time.day();

      const hour = time.hour();

      const dayHour = day * 24 + hour;

      if (dayHour < 31 || dayHour > 140) {
        return `timezone-offset-weekend`;
      }

      return `timezone-offset-${hour}`;
    }
  }
};
</script>
<style>
.timezone-timeline-block {
  border: 1px solid black;
  border-right: 0;
  height: 2rem;
  width: 2rem;
}

.timezone-timeline-slot:last-of-type .timezone-timeline-block {
  border-right: 1px solid black;
}

.timezone-offset-0,
.timezone-offset-1,
.timezone-offset-2,
.timezone-offset-3,
.timezone-offset-4,
.timezone-offset-5,
.timezone-offset-6,
.timezone-offset-21,
.timezone-offset-22,
.timezone-offset-23 {
  background: var(--night-color);
}

.timezone-offset-7,
.timezone-offset-8,
.timezone-offset-17,
.timezone-offset-18,
.timezone-offset-19,
.timezone-offset-20 {
  background: var(--early-color);
}

.timezone-offset-9,
.timezone-offset-10,
.timezone-offset-11,
.timezone-offset-12,
.timezone-offset-13,
.timezone-offset-14,
.timezone-offset-15,
.timezone-offset-16 {
  background: var(--work-color);
}

.timezone-offset-weekend {
  background: var(--weekend-color);
}
</style>
