<template>
  <span v-if="list.length === 1">{{ list[0] }}</span>
  <span v-tooltip="tooltip" v-else>{{ list.length }} Zones</span>
</template>
<script>
export default {
  props: {
    list: Array
  },
  computed: {
    tooltip() {
      return {
        content: this.list.join(", "),
        trigger: "hover",
        placement: "right"
      };
    }
  }
};
</script>
