<template>
  <div class="header">
    <MultiPeopleAvatar class="avatar" :people="timezone.tanukis" />
    <span>
      in
      <TimeZonesList :list="timezone.timezones" />
      ({{ offset }})
    </span>
    <span class="clock">{{ localTime }}</span>
  </div>
</template>
<script>
import { formatOffset } from "@/utils/time";
import { mapGetters } from "vuex";
import MultiPeopleAvatar from "@/components/MultiPeopleAvatar";
import TimeZonesList from "./TimeZonesList";

export default {
  name: "TimeZoneHeader",
  components: { MultiPeopleAvatar, TimeZonesList },
  props: {
    timezone: { type: Object }
  },
  computed: {
    ...mapGetters({
      currentTime: "timezones/currentTime",
      formatTime: "timezones/formatTime"
    }),
    localTime() {
      return this.formatTime(this.currentTime, this.timezone.timezones[0]);
    },
    offset() {
      return formatOffset(this.timezone.offset);
    }
  }
};
</script>
<style scoped>
.header {
  align-items: center;
  justify-content: left;
  height: 100%;
  display: flex;
}

.header > * {
  flex-grow: 1;
}

.avatar {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
  flex-grow: 0;
}

.clock {
  text-align: right;
  min-width: 4rem;
}
</style>
