<template functional>
  <ul class="employee-list">
    <template v-for="person in props.people">
      <li class="employee-entry" v-show="person.isVisible" :key="person.slug">
        <div>
          <div
            :class="{
              'employee-profile': true,
              'employee-profile--match': person.matchesSearch
            }"
          >
            <strong class="employee-name" :id="person.slug">
              {{ person.name }}
            </strong>
            <em class="employee-title" v-html="person.role" />
          </div>
          <div class="tree">
            <component
              :is="injections.components.PeopleList"
              v-if="person.reports.length"
              :people="person.reports"
            />
          </div>
        </div>
      </li>
    </template>
  </ul>
</template>
<script>
export default {
  name: "people-list",
  inject: {
    components: {
      default: {
        PeopleList: () => import("./PeopleList")
      }
    }
  },
  props: {
    people: Array
  }
};
</script>
<style scoped>
.employee-profile {
  position: relative;
  display: inline-block;
  background: #fff;
  border: 1px solid #efefef;
  padding: 5px;
  margin: 10px 5px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1;
}

.employee-profile--match {
  box-shadow: inset 0 0 0 2px green;
}

.employee-entry:not(:last-child)::before {
  position: absolute;
  top: -31px;
  left: -46px;
  content: "";
  display: inline-block;
  height: 100%;
  border-left: 2px solid #c9c9c9;
}

.employee-profile::before {
  position: absolute;
  top: -42px;
  left: -50px;
  content: "";
  display: block;
  border-bottom: 2px solid #c9c9c9;
  width: 50px;
  height: 64px;
}

.employee-profile .employee-title {
  display: block;
  color: #777;
  font-style: italic;
}

.employee-profile .employee-name {
  display: block;
}

.employee-entry ul {
  margin-left: 30px;
}

.employee-list {
  padding-left: 0;
  list-style: none;
}

.employee-entry {
  position: relative;
  text-align: left;
}

.employee-entry:last-child::before {
  position: absolute;
  top: -31px;
  left: -46px;
  content: "";
  display: inline-block;
  height: 64px;
  border-left: 2px solid #c9c9c9;
}

@media screen and (min-width: 480px) {
  .employee-entry ul {
    margin-left: 100px;
  }
}
</style>
