<template>
  <v-popover class="group" trigger="hover" placement="right">
    <img
      class="group"
      v-if="images.length === 1"
      :src="images[0].picture"
      :alt="images[0].name"
    />
    <div v-else :class="`group group-${images.length}`">
      <div class="count">{{ people.length }}</div>
      <img
        :key="image.picture"
        v-for="image in images"
        :src="image.picture"
        :alt="image.name"
      />
    </div>

    <template slot="popover">
      <div class="popover-wrapper">
        <div
          class="person"
          v-for="{ name, picture } in people"
          :key="picture + 'popup'"
        >
          <img v-lazy="picture" alt="name" />
          <div>{{ name }}</div>
        </div>
      </div>
    </template>
  </v-popover>
</template>
<script>
export default {
  name: "MultiPeopleAvatar",
  props: {
    people: {
      type: Array
    }
  },
  computed: {
    images() {
      return this.people.slice(0, 4);
    }
  }
};
</script>
<style scoped>
.group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.group-2 img {
  width: 50%;
}

.group-3 img {
  width: 33%;
}

.group-2 img,
.group-3 img {
  height: 100%;
  object-fit: cover;
}

.group-4 img {
  height: 50%;
  width: 50%;
}

.count {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-shadow: 0 0 5px black, 0 0 5px black;
  font-size: 1.15rem;
  font-weight: 600;
  color: white;
}

.popover-wrapper {
  max-width: 50rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.popover-wrapper .person {
  flex-grow: 1;
  line-height: 2rem;
  margin: 0.5rem;
  display: flex;
}

.popover-wrapper img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25rem;
}
</style>
