<template>
  <header class="header">
    <h1 class="title">The GitLab <strong>team</strong></h1>
    <div class="search-input">
      <label for="member-search" class="sr-only">
        Team member search:
      </label>
      <input
        id="member-search"
        :value="search"
        @input="updateSearch($event.target.value)"
        placeholder="Search team members"
      /><br />
      <small>
        Unsure what to search for? Look over
        <nuxt-link :to="navigation.about.path">at the examples</nuxt-link>
      </small>
      <br />
      <small>
        {{ matchCount.people }} people, {{ matchCount.others }} vacancies
        <template v-if="search.trim()"
          >&nbsp;match your search
        </template>
      </small>
    </div>
    <div class="navigation">
      <nuxt-link v-for="{ path, label } in navigation" :key="path" :to="path">
        {{ label }}
      </nuxt-link>
    </div>
    <hr />
  </header>
</template>

<script>
import { mapGetters, mapState, mapActions } from "vuex";

export default {
  methods: {
    ...mapActions(["updateSearch"])
  },
  computed: {
    ...mapState({
      search: state => state.search,
      queryString: state => state.queryString
    }),
    ...mapGetters({
      matchCount: "matchCount"
    }),
    navigation() {
      const map = [
        ["", "Team List", "index"],
        ["timezones", "Time Zones"],
        ["org-chart", "Org Chart"],
        ["statistics", "Statistics"],
        ["about", "About"]
      ];

      return map.reduce((agg, [path, label, name]) => {
        return {
          ...agg,
          [name || path]: {
            label,
            path: `/${path}/${this.queryString}`.replace(/\/+/, "/")
          }
        };
      }, {});
    }
  }
};
</script>
<style scoped>
.header {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header > * {
  max-width: 50rem;
  margin: 0 0 1rem;
}

.header hr {
  width: 100%;
  max-width: 100%;
}

.navigation {
  max-width: 50rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation a {
  padding: 0 0.5rem;
}

.navigation a {
  border-left: 2px solid #333;
}

.navigation a:first-of-type {
  border-left: none;
}

.title {
  text-align: center;
  display: block;
  font-weight: 200;
  font-size: 3rem;
  color: #333;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#member-search {
  max-width: 100%;
  width: 24rem;
  font-size: 1rem;
  height: 2rem;
}
</style>
