<template>
  <nuxt-link :to="url" @click.native="updateSearch(search)">
    <code>{{ search }}</code>
  </nuxt-link>
</template>
<script>
export default {
  props: {
    search: {
      type: String
    }
  },
  methods: {
    updateSearch(search) {
      this.$store.commit("UPDATE_SEARCH_QUERY", search);
    }
  },
  computed: {
    url() {
      return `/?search=` + encodeURIComponent(this.search);
    }
  }
};
</script>
