<template functional>
  <a :href="`https://gitlab.com/${props.gitlab}`">
    <span class="sr-only"> GitLab </span>
    <svg viewBox="0 0 210 194" xmlns="http://www.w3.org/2000/svg">
      <use :href="injections.icon"></use>
    </svg>
  </a>
</template>
<script>
export default {
  name: "GitLabLink",
  inject: {
    icon: {
      default: (process.env.BASE_URL || "/") + "icons.svg#tanuki",
    },
  },
  props: {
    gitlab: {
      type: String,
    },
  },
};
</script>
