<template>
  <a :href="mapsUrl">{{ location }}</a>
</template>
<script>
export default {
  props: ["person"],
  computed: {
    mapsUrl() {
      let query = this.person.locality ? this.person.locality + ", " : "";

      query = encodeURIComponent(query + this.person.country);

      return "https://maps.google.com?q=" + query;
    },
    location() {
      const res = this.person.locality ? this.person.locality + " · " : "";

      const flag = this.person.countryEmoji
        ? " " + this.person.countryEmoji
        : "";

      return `${res}${this.person.country}${flag}`;
    },
  },
};
</script>
