<template>
  <div class="extra">
    <a
      class="close-modal"
      style="text-align: right;"
      @click.prevent="$emit('selectPerson', null)"
      >Close</a
    >
    <div class="member-header">
      <div class="member-id">
        <img
          style="float: left; margin-right: 1rem;"
          :src="person.picture"
          alt=""
          class="member-id"
          width="120"
          height="120"
        />
      </div>
      <div class="info">
        <h3>{{ person.name }}</h3>
        <h4></h4>
        <div v-html="person.role"></div>
        <h5 v-if="person.reports_to">
          Reports to
          <a @click.prevent="$emit('selectPerson', person.reports_to)">{{
            person.reports_to
          }}</a>
        </h5>
        <h5>Lives in <location :person="person" /></h5>
        <h5>
          <!-- Todo: Pronouns -->
        </h5>
      </div>
    </div>
    <div class="social" style="text-align: center;">
      <TwitterLink v-if="person.twitter" :twitter="person.twitter" />
      <GitLabLink v-if="person.gitlab" :gitlab="person.gitlab" />
    </div>
    <div class="bio">
      <p>
        <!-- Todo: Bio -->
      </p>
    </div>
  </div>
</template>
<script>
import GitLabLink from "@/components/ListView/GitLabLink";
import TwitterLink from "@/components/ListView/TwitterLink";
import Location from "@/components/ListView/Location";
export default {
  components: { Location, TwitterLink, GitLabLink },
  props: {
    person: {
      type: Object,
    },
  },
};
</script>
<style>
.extra {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  width: 100%;
  opacity: 0;
  padding: 15px;
  z-index: -1;
  background-color: #fff;
  max-width: 440px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  transition: transform 0.2s ease-out, opacity 0.25s, z-index 0s linear 0.3s;
}
.extra {
  display: block;
  box-shadow: 0 0 1px 1px #ccc;
  opacity: 1;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 11;
  transition: transform 0.2s ease-out, opacity 0.2s;
}
</style>
