<template>
  <div class="card">
    <a
      class="member-id"
      href=""
      @click.prevent="$emit('selectPerson', person.slug)"
    >
      <img
        v-lazy="person.picture"
        :alt="person.name"
        width="120"
        height="120"
      />
    </a>

    <h3>{{ person.name }}</h3>
    <div class="body">
      <p class="location">
        <location :person="person" />
      </p>
      <h4 v-if="person.role" class="role" v-html="person.role" />
      <div class="assignments" v-if="person.projects">
        <!-- TODO: Proper role mapping -->
        <ul>
          <li
            v-for="(role, project) in person.projects"
            :key="`${role}|${project}|${person.name}`"
          >
            {{ role }} of {{ project }}
          </li>
        </ul>
      </div>
      <div class="expertise" v-if="person.expertise">
        <ul v-html="person.expertise" />
      </div>
      <div class="social">
        <TwitterLink v-if="person.twitter" :twitter="person.twitter" />
        <GitLabLink v-if="person.gitlab" :gitlab="person.gitlab" />
      </div>
    </div>
  </div>
</template>

<script>
import GitLabLink from "@/components/ListView/GitLabLink";
import TwitterLink from "@/components/ListView/TwitterLink";
import Location from "@/components/ListView/Location";

export default {
  components: { Location, TwitterLink, GitLabLink },
  props: {
    person: {
      type: Object,
    },
  },
  computed: {
    handle() {
      return this.person.twitter || this.person.gitlab || this.person.slug;
    },
  },
};
</script>
