<template functional>
  <a :href="`https://twitter.com/${props.twitter}`">
    <span class="sr-only"> Twitter </span>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="75 96 250 203">
      <use :href="injections.icon"></use>
    </svg>
  </a>
</template>
<script>
export default {
  name: "TwitterLink",
  inject: {
    icon: {
      default: (process.env.BASE_URL || "/") + "icons.svg#twitter",
    },
  },
  props: {
    twitter: {
      type: String,
    },
  },
};
</script>
