<template>
  <div class="flex flex--column">
    <template v-if="loadingState === 'SUCCESS'">
      <search-navigation />
      <nuxt />
      <footer>
        <a
          href="https://gitlab.com/leipert-projects/better-team-page"
          target="_blank"
          rel="noopener noreferrer"
          >Repository</a
        >
        |
        <a
          href="https://gitlab.com/leipert-projects/better-team-page/issues"
          target="_blank"
          rel="noopener noreferrer"
          >Issues</a
        >
      </footer>
    </template>
    <div v-else-if="loadingState === 'LOADING'">
      Loading team data...
    </div>
    <div v-else>
      An Error happened:
      <pre v-if="loadingState && loadingState.message">{{
        loadingState && loadingState.message
      }}</pre>
    </div>
  </div>
</template>
<script>
import { mapActions, mapState } from "vuex";

import SearchNavigation from "@/components/SearchNavigation.vue";

export default {
  components: {
    SearchNavigation
  },
  mounted() {
    this.loadQueryFromURL();
    this.loadTeamData();
  },
  methods: {
    ...mapActions(["loadQueryFromURL", "loadTeamData"])
  },
  computed: {
    ...mapState(["loadingState"])
  }
};
</script>
<style>
html,
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  --night-color: #b8d6f4;
  --early-color: #fed69f;
  --work-color: #b3e6c8;
  --weekend-color: #dfdfdf;
}

footer {
  text-align: center;
  margin-bottom: 1rem;
}

.sr-only {
  display: none;
}

@media speech {
  .sr-only {
    display: block;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex--column {
  flex-direction: column;
  align-items: center;
}

header,
main {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.popover-inner,
.tooltip-inner {
  padding: 24px;
  display: block;
  z-index: 10000;
  background: #f9f9f9;
  max-width: 40rem;
  border: 1px solid black;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  max-height: 15rem;
  overflow-y: scroll;
}

.tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
</style>
