<template>
  <main>
    <section>
      <h2>Geography</h2>
      <ul>
        <li v-for="(person, key) in geographic" :key="key">
          most {{ key }} GitLabber: {{ person.name }} —
          {{ person.locality }} &middot; {{ person.country }}
        </li>
      </ul>
      <h3>
        By Timezone prefix
      </h3>
      <ul>
        <li v-for="[key, people] in groupedByTimezoneCategory" :key="key">
          {{ key }}: {{ people.length }}
        </li>
      </ul>
      <h3>
        Team Members per million
      </h3>
      <ul>
        <li v-for="[key, value] in perMillion" :key="key">
          {{ key }}: {{ round(value) }}
        </li>
      </ul>
      <h3>
        Team Members by US State
      </h3>
      <ul>
        <li v-for="[key, people] in groupedByUSState" :key="key">
          {{ key }}: {{ people.length }}
        </li>
      </ul>
    </section>
    <section>
      <h2>Team structure</h2>
      <h3>
        By Top Level Department
      </h3>
      <ul>
        <li v-for="[key, people] in groupedByTLD" :key="key">
          {{ key }}: {{ people.length }}
        </li>
      </ul>
      <h3>
        By Type
      </h3>
      <ul>
        <li v-for="[key, people] in groupedByType" :key="key">
          {{ key }}: {{ people.length }}
        </li>
      </ul>
    </section>
    <section>
      <h2>
        <a
          href="https://gitlab.com/leipert-projects/better-team-page/issues/3"
          target="_blank"
          rel="noopener noreferrer"
          >Unimplemented ideas</a
        >
      </h2>
      <ul>
        <li>ANTIPODE</li>
        <li>topX countries</li>
        <li>most isolated gitlabbers</li>
        <li>longest report chain</li>
        <li>longest role title</li>
        <li>most consecutive vowels</li>
        <li>longest name</li>
        <li>Average time with company</li>
        <li>Grouped by time with company</li>
      </ul>
    </section>
  </main>
</template>
<script>
import { mapGetters, mapState } from "vuex";

export default {
  computed: {
    ...mapState({ search: (state) => state.search }),
    ...mapGetters("statistics", [
      "filteredTeam",
      "geographic",
      "groupedByTimezoneCategory",
      "groupedByUSState",
      "groupedByNameLength",
      "groupedByReportChainLength",
      "groupedByTLD",
      "groupedByType",
      "perMillion",
    ]),
  },
  methods: {
    round(num) {
      return Math.round((num + Number.EPSILON) * 100) / 100;
    },
  },
};
</script>
<style scoped>
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 2rem;
  margin-right: 2rem;
}

section {
  min-width: 30rem;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0.5rem;
  padding: 1rem;
  border: 1px solid gainsboro;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
</style>
