<template>
  <main>
    <section>
      <h2>Personalized examples</h2>
      <p>Find yourself in the list and get personalized examples:</p>
      <multi-select
        :value="you"
        :options="team"
        @input="updateYourself"
        placeholder="Select yourself"
        label="name"
        track-by="slug"
      />
      <ul v-if="you">
        <li>
          <SearchLink :search="'reports_to:' + you.slug" />
          – People reporting to you
        </li>
        <li>
          <SearchLink :search="'reports_to:' + you.reports_to" />
          – People reporting to the same person as you
        </li>
        <li>
          <SearchLink :search="'timezone:' + you.timezone" />
          – People in the same timezone as you
        </li>
        <li>
          <SearchLink
            :search="'timezone:' + you.timezone.replace(/\/.+/, '')"
          />
          – People on the same continent as you
        </li>
        <li v-for="department in you.departments" :key="department">
          <SearchLink :search="'departments:' + department" />
          – People in the '{{ department }}' department
        </li>
      </ul>
    </section>
  </main>
</template>
<script>
import { mapState } from "vuex";
import MultiSelect from "vue-multiselect";
import SearchLink from "@/components/SearchLink.vue";

export default {
  components: {
    MultiSelect,
    SearchLink
  },
  computed: {
    ...mapState(["you", "team"])
  },
  methods: {
    updateYourself(valyou) {
      this.$store.commit("updateYourself", valyou);
    }
  }
};
</script>
